<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IDEToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <IDEToolBox.Properties.Settings>
            <setting name="DefaultResultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DoubleSigmoidCt" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="ApplyDoubleSigmoid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveUnzipFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticClearLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverwriteOutputFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAssayColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultCompareFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultCombineResultPath" serializeAs="String">
                <value />
            </setting>
        </IDEToolBox.Properties.Settings>
    </userSettings>
</configuration>
